# Все временные и создаваемые PyCharm файлы и папки
.idea/
__pycache__/
*.iml
*.ipr
*.iws
/.idea

# Окончания файлов, которые можно игнорировать
*.pyc
*.pyo
*.pyd

# Виртуальное окружение (если используете виртуальное окружение)
venv/
env/

# Временные файлы и папки, созданные Visual Studio Code
.vscode/
.vscode-*
